<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bargames"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.bargames.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.bargames.SFT"
            android:label="@string/title_activity_sft" >
        </activity>
        <activity
            android:name="com.example.bargames.CircleOfDeath"
            android:label="@string/title_activity_circle_of_death" >
        </activity>
        <activity
            android:name="com.example.bargames.SimonSays"
            android:label="@string/title_activity_simon_says" >
        </activity>
        <activity
            android:name="com.example.bargames.Killer"
            android:label="@string/title_activity_killer" >
        </activity>
        <activity
            android:name="com.example.bargames.HighLow"
            android:label="@string/title_activity_high_low" >
        </activity>
    </application>

</manifest>
